<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Productos</h1>
        <div id="lista-productos" class="row">
            <!-- Aquí se agregarán dinámicamente los productos -->
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
