<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4">Formulario para Añadir Producto</h1>
        <form id="formulario">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" class="form-control" id="titulo" placeholder="Ingrese el título del producto"
                    required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea class="form-control" id="descripcion" rows="3"
                    placeholder="Ingrese la descripción del producto" required></textarea>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="precio" placeholder="Ingrese el precio del producto"
                    required>
            </div>
            <div class="mb-3">
                <label for="codigo" class="form-label">Código:</label>
                <input type="text" class="form-control" id="codigo" placeholder="Ingrese el código del producto"
                    required>
            </div>
            <div class="mb-3">
                <label for="stock" class="form-label">Stock:</label>
                <input type="number" class="form-control" id="stock" placeholder="Ingrese el stock del producto"
                    required>
            </div>
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoría:</label>
                <input type="text" class="form-control" id="categoria" placeholder="Ingrese la categoría del producto"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Añadir Producto</button>
        </form>
    </div>

    <div class="container">
        <h1>Lista de Productos</h1>
        <div id="lista-productos" class="row">
            <!-- Aquí se agregarán dinámicamente los productos -->
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
    <script src="js/realtime.js"></script>
</body>

</html>